---
import { getCollection, render } from "astro:content";
import { formatDate } from "../../utils/date";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", (blog) => blog.data.show);

  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

if (!post.data.show) {
  return Astro.redirect("/404");
}
---

<PageLayout title="blog">
  <div>
    <article class="prose prose-lg mt-6 max-w-none">
      <p>{formatDate(post.data.date)}</p>
      <Content />
    </article>
  </div>
</PageLayout>
