---
import Section from "../components/Section.astro";
import HealthyLife from "../components/experience/HealthyLife.astro";
import Paymaya from "../components/experience/Paymaya.astro";
import Botbros from "../components/experience/Botbros.astro";
import IdeyaTech from "../components/experience/IdeyaTech.astro";
import ATC from "../components/experience/ATC.astro";
import AWSCertification from "../components/certifications/AWSCertification.astro";
---

<div>
  <Section title="About">
    I'm currently doing looking for new opportunities..
    <p>
      Interested in learning new things, reading, surfing, running, solo
      travelling.
    </p>
    <p>
      Connect with me: <a
        class="underline font-semibold"
        href="mailto:jerome.arceo.agapay@gmail.com"
        >jerome.arceo.agapay@gmail.com</a
      >, <a class="underline font-semibold" href="/Jerome-Agapay-Resume.pdf"
        >Resume</a
      >
    </p>
  </Section>

  <Section title="Work">
    <HealthyLife />
    <Paymaya />
    <Botbros />
    <IdeyaTech />
  </Section>

  <Section title="Projects">
    <ATC />
  </Section>

  <Section title="Certifications">
    <AWSCertification />
  </Section>
</div>
