---

---

<div class="flex justify-between">
  <div class="w-1/3 font-bold">Jerome Agapay</div>
  <div class="w-1/3">
    <ul class="w-30">
      <li class="flex justify-between font-bold">
        <a href="/">About</a>
        <a href="/blog">Blogs</a>
      </li>
    </ul>
  </div>
</div>
