---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import { ClientRouter } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="061b96a4-c0e1-4352-8833-716053baa9ee"
    ></script>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
